<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">

<head>
  <title>test</title>
  <base href="/dot-demo">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
  <meta name="ap-mobile-web-app-capable" content="yes"/>
  <meta charset="UTF-8"/>
  
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <script type="text/javascript" src="/bower_components/angularjs/angular.js"></script>  
  <script type="text/javascript" src="/dot-demo/scripts.js"></script>  

</head>

<body ng-controller="MainController as MC">

  <div class="cyan-surface">
    <h1 style="font-size: 21px;">TESTS</h1>
    <div>
      <p>OUTER SCOPE:</p>
      <p>{{ MC.foo }}</p>
      <p>{{ MC.bar.someProperty }}</p>
      <div>
        <p>INNER SCOPE</p>
        <p>{{ MC.foo }}</p>
        <p>{{ MC.bar.someProperty }}</p>
        <button ng-click="MC.foo = 3">Change MC.foo</button>
        <button ng-click="MC.bar.someProperty = 5">Change MC.bar.someProperty</button>
      </div>
    </div>
    <test-for-toptal></test-for-toptal>
  </div>

</body>

</html>